<% include partials/header %>
<div class="container">
<div class="row">
<div class="col-md-3">
    <p class="lead"><%=item.name%></p>
  </div>
  
  <div class="col-md-6 col-xs-9 .col-sm-9">
    <div class="thumbnail">
        <div class="card mb-3">
          <img class="card-img-top" src="<%= item.image %>" alt="<%= item.name %>">
          <div class="card-body caption">
            <p class="float-right">
              <i class="fas fa-rupee-sign"></i><%= item.price %>/<%= item.quantity %>
            </p>
            <h5 class="card-title"><%= item.name %></h5>
            <hr>
            <p class="card-text"><%= item.description %></p>
            <hr>
            <%if(!currentUser){%> 
            <p>To check whether this item can be delievered to your place, please <a href="/login">Login</a></p>
            <% }else{%>
            <p>Delievery is available at <%=currentUser.pincode%></p>
            <p>Item will be delievered to <%=currentUser.city%>,<%=currentUser.state%> within 3-4 days.</p>
            <% }%>
            <a class="btn btn-info" href="/items/<%= item._id %>/add">ADD TO CART</a>
            <a class="btn btn-success" href="/items/<%= item._id %>/buy">BUY NOW</a>
            <%if(currentUser&&currentUser.isAdmin){ %>
              <div class="pull-right">
                  <a class="btn btn-warning" href="/items/<%= item._id %>/edit">Edit</a>
                  <form action="/items/<%=item._id%>?_method=DELETE" method="POST" class="delete-form" >
                      <button class="btn btn-danger">Delete</button>
                  </form>
              </div>
            <% }%>
          </div>
        </div>
    </div>    
</div>    

<% include partials/footer %>