<% include partials/header %>
<div class="container">
<div class="row">
<div class="col-md-3">
    <p class="lead"><%=item.name%></p>
  </div>
  
  <div class="col-md-6">
    <div class="thumbnail">
        <div class="card mb-3">
          <img class="card-img-top" src="<%= item.image %>" alt="<%= item.name %>">
          <div class="card-body">
            <p class="float-right">
              <i class="fas fa-rupee-sign"></i><%= item.price %>/<%= item.quantity %>
            </p>
            <h5 class="card-title"><%= item.name %></h5>
            <hr>
            <p class="card-text"><%= item.description %></p>
            <a class="btn btn-info" href="/items/<%=item._id%>/add">ADD TO CART</a>
            <a class="btn btn-success" href="/items/<%=item._id%>/buy">BUY NOW</a>
          </div>
        </div>
    </div>    
</div>    

<% include partials/footer %>